<html>
    <head>
        <link src=""/>
    </head>
    <body>
        <h1>Timestamp-Microservice</h1><br/>
        <p>Timestamp Microservice for FreeCodeCamps API-Projects</p>
        <div>
            <section>
                <h2>How to use it:</h2>
                <p>You can use a natural language date matching one of the following formats:</p>
                <code>
                    <a href="" target="_blank">.../2016-12-02</a><br>
                    <a href="" target="_blank">.../02-12-2016</a><br>
                    <a href="" target="_blank">.../December 2, 2016</a><br>
                    <a href="" target="_blank">.../December 2 2016</a><br>
                    <a href="" target="_blank">.../Dec 2, 2016</a><br>
                    <a href="" target="_blank">.../Dec 2 2016</a><br>
                    <a href="" target="_blank">.../2 December 2016</a><br>
                    <a href="" target="_blank">.../2 December 16</a><br>
                    <a href="" target="_blank">.../2 Dec 2016</a><br>
                    <a href="" target="_blank">.../2 Dec 16</a><br>
                </code>
                
                <p>Or a Unix-Timestamp:</p>
                <code>
                    <a href="" target="_blank">.../1480636800</a>
                </code>
                
            </section>
            <section>
                <h2>Output:</h2>
                <div>
                    <code>
                        {<br/>
                          &ensp;unix: &ensp;1480636800,<br/>
                          &ensp;natural: "December 2, 2016"<br/>
                        }
                    </code>
                </div>
            </section>
        <div>
    </body>
</html>